@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\000035}}
html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000317}}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000323}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000327}}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000333}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000338}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000342}}
html, button, input, select, textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000346}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000354}}
a:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000358}}
a:active,
a:hover {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000367}}
hgroup, ul, ol, dd, menu, dl, figure, pre, table, fieldset, legend, hr,
h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000371}}
b, strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000375}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000381}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000385}}
q:before, q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000390}}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000396}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\0000399}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003107}}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003114}}
li > ul,
li > ol {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003124}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  min-height: auto;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003132}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003140}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003144}}
figure > img {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003152}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003156}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003162}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003169}}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003179}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003184}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003193}}
button[disabled],
input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003198}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003206}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003213}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003218}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003224}}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003234}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_bizarro\.scss}line{font-family:\00003243}}
.chromeframe {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_helpers\.scss}line{font-family:\0000357}}
li > ul,
li > ol {
  margin-bottom: 0;
}

/*------------------------------------*\
    $BEAUTONS.CSS
\*------------------------------------*/
/**
 * beautons is a beautifully simple button toolkit.
 *
 * Copyright 2013 Harry Roberts
 *
 */
/* - BASE ----------------------------- */
/* - SIZES ---------------------------- */
/* - FONT SIZES ----------------------- */
/* - FUNCTIONS ------------------------ */
/* - STYLES --------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/partials\/_typography\.scss}line{font-family:\0000337}}
p, ul, ol {
  font-family: Georgia, serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/partials\/_typography\.scss}line{font-family:\0000343}}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/partials\/_typography\.scss}line{font-family:\0000368}}
::-moz-selection, ::selection {
  background-color: black;
  color: white;
}

/*

Header
======

Styles for the header

	<header role="banner"></header>

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/partials\/modules\/_layout\.scss}line{font-family:\000033}}
body {
  min-width: 260px;
  overflow-x: hidden;
  width: 100%;
}

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\000036}}
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000313}}
  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000318}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000322}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000328}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000334}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000340}}
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000344}}
  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000349}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000357}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/stuartrobson\/Sites\/Testing\/Sassdown\/sass\/base\/_print\.scss}line{font-family:\0000364}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* endif */
